/* ------------------- */
/* Body */
/* ------------------- */
#article{
    position: relative;
    width: 100%;
    height: 85%;
    box-sizing: border-box;
    margin: 0 auto;
    outline: none;
    box-shadow: none;
    border: none;

    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;

    background-color: #0A192F;

    text-align: center;
}

#article p {
    font-family: 'Lora', Georgia, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    letter-spacing: 0.05em;
    word-spacing: 0.1em;
    line-height: 1.6;

    color: #D9D9D9;
}

/* Animation */
@keyframes fadeSlideUp {
    /* Keyframes for fade + slide up */
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#article > * {
    /* Apply animation to all children of #article */
    opacity: 0;
    animation: fadeSlideUp 1s ease forwards;
}

#article p:nth-of-type(1) {
    animation-delay: 0.3s;
}

#article p:nth-of-type(2) {
    animation-delay: 0.6;
}

#article p:nth-of-type(3) {
    animation-delay: 0.9s;
}

#article p:nth-of-type(4) {
    animation-delay: 1.2s;
}

















