/* ------------------- */
/* Reanisialization */
/* ------------------- */
:root {
    --primary-color: #3498db;  /* CSS variable defined */
    --secondary-color: #e74c3c;

    --font_size_reference: 30px;
}

*, *::before, *::after{
    box-sizing: border-box;

    margin: 0;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 0;
}

html {
    margin: 0;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;

    margin: 0;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 0;
}

#main {
    box-sizing: border-box;
    width: 100%;
    height: 100%;


    margin: 0;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 0;

    overflow: hidden;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
  outline: none;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}


/* ------------------- */
/* Layout */
/* ------------------- */
#head{
    position: relative;
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    margin: auto;
    outline: none;
    box-shadow: none;
    border: none;
    padding: 0;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #3B577A;
}


#article{
    position: relative;
    width: 100%;
    height: 85%;
    box-sizing: border-box;
    margin: 0 auto;
    outline: none;
    box-shadow: none;
    border-top: 1px solid #0A192F;
    border-bottom: 2px solid #0A192F;
    border-left: none;
    border-right: none;
    padding-top: 10%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    overflow: hidden;

    text-align: center;

    background-color: #F8F9FA;
    color: #2C2C2C;
}

#footer{
    position: relative;
    width: 100%;
    height: 5%;
    box-sizing: border-box;
    margin: auto;
    outline: none;
    box-shadow: none;
    padding: 0;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #CED4DA;
}

.nav{
    position: relative;
    width: 95%;
    height: 100%;
    box-sizing: border-box;
    margin: auto;
    outline: none;
    box-shadow: none;
    padding: 0;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_ul_header {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    box-shadow: none;
    padding: 0;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_ul_footer {
    width: 75%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    box-shadow: none;
    padding: 0;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_li_header {
    position: relative;
    width: 10%;
    height: 100%;
    box-sizing: border-box;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #CED4DA;
    font-size: 20px;
    transition: color 0.3s ease, font-size 0.3s ease;
}
.nav_li_header:hover {
    color: #B0B6BC;
    font-size: 21px;
}

.nav_li_footer {
    width: 5%;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 30%;
}



/* ------------------- */
/*  */
/* ------------------- */
h1 {
    font-family: Poppins;
    font-size: 48px;
    font-weight: Bold;
    font-style: normal;

    letter-spacing: 0.05em;
    word-spacing: 0.1em;
    line-height: 1.5;
}

h2 {
    font-family: Poppins;
    font-size: 22px;
    font-weight: bolder;
    font-style: italic;

    letter-spacing: 0.05em;
    word-spacing: 0.1em;
    line-height: 1.5;

    color: #FF5C5C;
}

p {
    font-family: Lato;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;

    letter-spacing: 0.05em;
    word-spacing: 0.1em;
    line-height: 1.5;
}






















